* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #1a1a1a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container h1 {
    color: #7e3b8b;
}

.timer {
    display: flex;
    font-size: 50px;
    font-weight: bold;;
}

.time {
    display: flex;
    padding: 0 10px;
    color: #a1a1a1;
    line-height: 80px;
}

.separator {
    padding: 5px 10px;
    color: #525763;
}

#milliseconds {
    font-size: 30px;
    color: #595a5c;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 25px;
    font-size: 20px;
    margin: 0 10px;
    background-color: #525763;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

#startBtn {
    background-color: #431b53;
    color: #000000;
   
}

#pauseBtn, #resumeBtn {
    display: none;
}